@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html,
body {
  height: 100%;
}

header {
  background-color: #941611;
  padding: 15px 2%;
  display: flex;
  justify-content: space-between;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.info-header {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  margin-left: 10px;
}

.icons-header {
  margin: 0 15px;
}

.margin-icons {
  margin-right: 15px;
  width: 20px;
  height: 20px;
}

.main {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.sidebar {
  width: 20%;
  background-color: #fff;
  height: 100%;
}

.sidebar h3 {
  color: #333;
  font-size: 20px;
  margin: 10px;
}

.sidebar a {
  display: block;
  text-decoration: none;
  margin-left: 15px;
  margin-top: 20px;
  color: #444;
}

.sidebar a > svg {
  color: #444;
}

.sidebar-divisor {
  opacity: 0.5;
  color: #444;
}

.logout {
  position: fixed;
  bottom: 50px;
  left: 0;
  right: 0;
  width: 100%;
}

.content {
  width: 80%;
  background-color: rgb(245, 245, 245);
}

.titulo-secao, .tabelaRegistros, .sidebar-mobile {
  background-color: #fff;
  border-radius: 10px;
  padding: 15px;
  margin: 30px 10px 0 10px;
}

.titulo-secao h2 {
  font-size: 19px;
}

.titulo-secao p {
  font-size: 14px;
}

.tabelaRegistros h3 {
  padding: 10px;
  font-size: 15px;
}

.table-header {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.table-body{
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.table-header input {
  width: 200px;
  height: 36px;
  border-radius: 5px;
  padding: 10px;
}

.bootstrap-style-table {
  border-collapse: collapse;
  width: 100%;
}
.bootstrap-style-table th, .bootstrap-style-table td {
  border: 1px solid #dddddd;
  padding: 8px;
  width: 25%;
}
.bootstrap-style-table th {
  color: #000;
}
.bootstrap-style-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.alignItensColumn {
  text-align: center;
}

.item-menu-mobile {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.sidebar-mobile h3 {
  margin-bottom: 10px;
}

.sidebar-mobile a {
  display: block;
  text-decoration: none;
  margin-left: 15px;
  margin-top: 10px;
  color: #444;
}

.sidebar-mobile a > svg {
  color: #444;
}

.link-icon:hover{
  color: #941611;
}

@media screen and (min-width: 768px) {
  .sidebar-mobile {
    display: none;
  }

  .content {
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  .sidebar {
    display: none;
  }

  .content {
    width: 100%;
  }
}
